:root {
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --focus-color: #2196F3;
    --primary-font-color: #757575;
    --secondary-font-color: #212121;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
}

ul {
    list-style: none;
}

/* logo */

.logo {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.logo span {
    color: var(--focus-color);
}

.logo:hover,
.logo:focus {
    color: var(--focus-color);
}

/* nav */

.nav .link.current {
    color: var(--focus-color);
}

.nav .link {
    color: var(--secondary-font-color);
    text-decoration: none;
}

.nav .link:hover,
.nav .link:focus {
    color: var(--focus-color);
}

/* contacts */

.contact .link {
    color: inherit;
    text-decoration: none;
}
.contact .link:hover, 
.contact .link:focus{
    color: var(--focus-color);
}

/* hero */

.hero .title {
    background-color: var(--footer-background-color);
}

.hero .title {
    color: var(--primary-background-color);
}

.button {
    color: var(--primary-background-color);
    background-color: var(--focus-color);
}

/* maine content */

.section-title {
    color: var(--secondary-font-color)
}

.list-title {
    color: var(--secondary-font-color);
}

.section.comand {
    background-color: var(--secondary-background-color);
}

/* footer */

footer{
    background-color: var(--footer-background-color);
}

.address-link {
    color: var(--primary-background-color);
    text-decoration: none;
}


/* ----------------portfolio page---------------- */


/* filter button */

.filter .button {
    color: var(--footer-background-color);
    background-color: var(--secondary-background-color);
}

.filter .button:hover,
.filter .button:focus {
    color: var(--primary-background-color);
    background-color: var(--focus-color);
}

/* portfolio content */

.link {
    text-decoration: none;
    color: var(--primary-font-color);
    
}

